{{!-- <h1>Signin</h1>
<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="Insert Email">
    <input type="password" name="password" placeholder="Insert Password">
    <button type="submit">signin</button>
</form> --}}


<div class="container p-4">
    <h1>Signin</h1>
    <form action="/signin" method="POST">
    <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Insert Email" >
    </div>
    <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Insert Password">
    </div>
    <button type="submit" class="btn btn-primary">signin</button>
    </form>
</div>