<div class="container p-4">
    <h1>Signup</h1>
    <form action="/signup" method="POST">
    <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Insert Email" >
    </div>
    <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Insert Password">
    </div>
    <button type="submit" class="btn btn-primary">signup</button>
    </form>
</div>